<div class="tab-pane fade" id="processing" role="tabpanel" aria-labelledby="processing-tab">
 <div class="mb-3" style="height: 20px;"></div> <!-- 添加一个空白的div -->
    <div class="row">
        {% for process in processes %}
            {% if process.isDoing %}
                <div class="col-xxl-4 col-md-6">
                    <div id="project-box" class="project-box"><span id="sp-{{ process.id }}" class="badge badge-primary">处理中</span>
                        <h6>{{ process.user.user_message.name }}_{{ process.imageType }}</h6>
                        <div class="media"><img class="img-20 me-1 rounded-circle"
                                                src="{{ url_for('static', filename=process.user.user_message.userHead)}}" alt="" data-original-title="" title="">
                            <div class="media-body">
                                <p>{{ process.user.username }}</p>
                            </div>
                        </div>
                        <p>{{ process.description }}</p>
                        <div class="row details">
                            <div class="col-6"><span>姓名</span></div>
                            <div class="col-6 text-primary">{{ process.user.user_message.name }}</div>
                            <div class="col-6"> <span>年龄</span></div>
                            <div class="col-6 text-primary">{{ process.user.user_message.age }}</div>
                            <div class="col-6"> <span>图片类型</span></div>
                            <div class="col-6 text-primary">{{ process.imageType }}</div>
                            <div class="col-6"> <span>上传时间</span></div>
                            <div class="col-6 text-primary">{{ process.uploadTime }}</div>
                        </div>
                        <div class="project-status mt-4">
                            <div class="media mb-0">
                                <div class="media-body text-end"><span id="progress-text-{{ process.id }}">处理中</span></div>
                            </div>
                            <div class="progress" style="height: 5px">
                                <div id="progress-bar-{{ process.id }}" class="progress-bar-animated bg-primary progress-bar-striped" role="progressbar" style="width: 0%"
                                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>