<div class="col-md-12 project-list">
  <div class="card">
    <div class="row">
      <div class="col-md-6">
       <ul class="nav nav-tabs border-tab" id="myTab" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="all-tab" data-bs-toggle="tab" href="#all"
              role="tab" aria-controls="all" aria-selected="true"><i data-feather="target"></i>所有图片</a></li>
          <li class="nav-item"><a class="nav-link" id="profile-top-tab" data-bs-toggle="tab" href="#processing"
              role="tab" aria-controls="processing" aria-selected="false"><i data-feather="info"></i>处理中</a></li>
          <li class="nav-item"><a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#completed"
              role="tab" aria-controls="completed" aria-selected="false"><i data-feather="check-circle"></i>处理完成</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-0 me-0"></div><a class="btn btn-primary" href="projectcreate.html"> <i
            data-feather="plus-square"> </i>导入一个新的图片</a>
      </div>
    </div>
  </div>
</div>