<div class="col-md-12 project-list">
    {#    <div class="card">#}
    <div class="row">
        <div class="col-md-6 text-center" style="font-size: 15px; display: flex; align-items: center;">
                          <span>
                  共{{ medical_pictures.total }}条记录,
                  每页显示{{ medical_pictures.per_page }}条,
                  共{{ medical_pictures.pages }}页
              </span>
        </div>
        <div class="col-md-6">
            <!-- right aligned pagination-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end pagination-primary">
                    <li class="page-item">
                        {% if medical_pictures.has_prev %}
                            <a class="page-link" href="/viewPicture/?page={{ medical_pictures.prev_num }}&per_page{{ medical_pictures.per_page }}">上一页
                        {% else %}
                            <a class="page-link disabled" href="javascript:;">上一页
                        {% endif %}
                        </a>
                    </li>

                    {% for i in range(medical_pictures.pages) %}
                        {% if medical_pictures.page == i + 1 %}
                            <li class="page-item active">
                                {% else %}
                            <li class="page-item">
                        {% endif %}
                    <a class="page-link" href="/viewPicture/?page={{ i + 1 }}&per_page={{ medical_pictures.per_page }}">{{ i + 1 }}</a></li>
                    {% endfor %}

                    <li class="page-item">
                        {% if medical_pictures.has_next %}
                            <a class="page-link" href="/viewPicture/?page={{ medical_pictures.next_num }}&per_page={{ medical_pictures.per_page }}">下一页
                        {% else %}
                            <a class="page-link disabled" href="javascript:;">下一页
                        {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
