<div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
    <div class="row">
        {% for medical_picture in medical_pictures %}
            <div class="col-xxl-4 col-md-6">
            {% if medical_picture.isDoing %}
                <div class="project-box"><span class="badge badge-primary">处理中</span>
            {% else %}
                <div class="project-box"><span class="badge badge-success">处理完成</span>
            {% endif %}
        <h6>{{ medical_picture.user.name }}_{{ medical_picture.imageType }}</h6>
        <div class="media"><img class="img-20 me-1 rounded-circle"
                                src="{{ url_for('static', filename=medical_picture.user.userHead)}}" alt="" data-original-title="" title="">
            <div class="media-body">
                <p>{{ medical_picture.user.username }}</p>
            </div>
        </div>
        <p>{{ medical_picture.description }}</p>
        <div class="row details">
            <div class="col-6"><span>姓名</span></div>
            <div class="col-6 text-primary">{{ medical_picture.user.name }}</div>
            <div class="col-6"> <span>年龄</span></div>
            <div class="col-6 text-primary">{{ medical_picture.user.age }}</div>
            <div class="col-6"> <span>图片类型</span></div>
            <div class="col-6 text-primary">{{ medical_picture.imageType }}</div>
            <div class="col-6"> <span>上传时间</span></div>
            <div class="col-6 text-primary">{{ medical_picture.uploadTime }}</div>
        </div>
        <div class="project-status mt-4">
            {% if medical_picture.isDoing %}
                <div class="media mb-0">
                    <p>70% </p>
                    <div class="media-body text-end"><span>Done</span></div>
                </div>
                <div class="progress" style="height: 5px">
                    <div class="progress-bar-animated bg-primary progress-bar-striped" role="progressbar" style="width: 70%"
                         aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            {% else %}
                <div class="media mb-0">
                    <p>100% </p>
                    <div class="media-body text-end"><span>Done</span></div>
                </div>
                <div class="progress" style="height: 5px">
                    <div class="progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="10"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            {% endif %}
        </div>
        </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
