<!-- footer start -->
<footer class="footer {{ footer }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 footer-copyright text-center">
        <p class="mb-0">版权所有 2022 © Cuba theme by pixelstrap</p>
        <img src="{{ url_for('static', filename = 'assets/images/beian/备案图标.png') }}" style="width: 20px;height: 20px;" />
        <a href="https://beian.mps.gov.cn/#/query/webSearch?code=13010202004036" rel="noreferrer" target="_blank">冀公网安备&nbsp;&nbsp;13010202004036号</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://beian.miit.gov.cn/#/Integrated/index" rel="noreferrer" target="_blank">冀ICP备2023003034号</a>
      </div>
    </div>
  </div>
</footer>
