<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="imDiv col-xxl-12" id="contentToScreenshot">
                    <div class="imageDiv1 col-xxl-6">
                        <div
                                id="topgram_element"
                                class="cornerstone-element1"
                                data-index="0"
                                oncontextmenu="return false"
                        ></div>
                    </div>
                    <div class="imageDiv2 col-xxl-6">
                        <div
                                id="chest_element"
                                class="cornerstone-element2"
                                data-index="0"
                                oncontextmenu="return false"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->